{% extends 'rsvp/base.html' %}
{% load static %}
<!DOCTYPE html>


{% block content %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">REGISTER ACCOUNT</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
                        {% csrf_token %}
						{{ form.old_password }}
						{{ form.new_password1 }}
						{{ form.new_password2 }}
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Change Password">
				   		</div>
					</form>
				</div>
                {{ form.errors }}
			</div>
		</div>
	</div>
{% endblock %}
