{% extends 'rsvp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% if object.pk %}Edit{% else %}Create{% endif %} a reservation{% endblock %}
{% block header %}{% if object.pk %}Edit{% else %}Create{% endif %} a reservation{% endblock %}
{% block content %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="table-responsive card">
            <table class="table align-middle table-hover panel-body attr-table table-bordered">
                {{ form.as_table }}
                <!-- <tr>
                    <th><label for="id_has_paid">Has paid:</label></th>
                    <td><input type="checkbox" name="has_paid" id="id_has_paid"></td>
                    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="has_paid" id="id_has_paid1" value="option1">
                        <label class="form-check-label" for="id_has_paid1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="name" id="id_has_paid2" value="option2">
                        <label class="form-check-label" for="id_has_paid2">No</label>
                    </div>
                </tr> -->
            </table>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-success" />
        <a href="{% url 'reservation_list' %}" class="btn btn-danger">Cancel</a>
    </form>
</div>

{% endblock %}